# Practicum in human intelligent information processing
Prof. Tomohiro Shibata

Kyushu Institute of Technology

Python
* Interpreted
* Interactive
* Object oriented


$Y = F(X) + \epsilon, \epsilon \sim \mathcal{N}(\mu,\Sigma)$

In [1]:
7845+2345

10190

In [2]:
89.23-45.2

44.03

In [3]:
56*72

4032

In [4]:
3**32

1853020188851841L

In [5]:
2**3

8

In [6]:
a = 1
b = 1
for c in range(1,10):
    print (a)
    n = a + b
    a = b
    b = n
print ("")

1
1
2
3
5
8
13
21
34

In [7]:
a = 0
b = 1
while a<10:
    #a += 1 # Same as a = a + 1 
    print (a)
    n=a+b
    a=b
    b=n

0
1
1
2
3
5
8

In [8]:
def pyramid(rows=8):
    for i in range(rows):
        print ' '*(rows-i-1) + '*'*(2*i+1)
        
n=int(input("Enter no of rows:"))
pyramid(rows=n)

Enter no of rows:

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [9]:
def drawPyramid(rows):
  result = ''

  for i in xrange(rows):
    row = ''
    row += ' ' * (rows - i - 1)
    row += '*' * (2 * i + 1)

    result += row + '\n'

  return result

print drawPyramid(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [39]:
a = 1
s = 0
print ('Enter Numbers to add to the sum.')
print ('Enter 0 to quit.')
while a != 0:
    print ('Current Sum: ', s)
    a = raw_input('Number? ')
    a = float(a)
    s += a
print ('Total Sum = ',s)

Enter Numbers to add to the sum.
Enter 0 to quit.
('Current Sum: ', 0)
Number? 1
('Current Sum: ', 1.0)
Number? 0
('Total Sum = ', 1.0)

In [40]:
name=raw_input('name?')
print name

name?vishal
vishal

In [41]:
name

'vishal'

In [42]:
" ".join(name.split()[::-1])

'vishal'

In [13]:
c='this is Vishal'

In [14]:
c[::-1]

'lahsiV si siht'

In [15]:
" ".join(c.split()[::-1])

'Vishal is this'

In [16]:
password = "foobar"

#note that != means not equal
while password != "unicorn":
    password = raw_input("Password: ")
print ("Welcome in")

Password:
Password: unicorn
Welcome in

In [17]:
print r'C:\\nowhere'

C:\\nowhere

In [18]:
def asterisk_triangle(n):
    """
    takes an integer n and then returns an
    asterisk triangle consisting of (n) many lines
    """
    x = 1
    while (x <= n):
        print("*" * x)
        x = x + 1
    return
asterisk_triangle(5)

*
**
***
****
*****

In [19]:
def upside_down_asterisk_triangle(n):
     """
     takes an integer n and then returns a backwards
     asterisk triangle consisting of (n) many lines
     """
     x = 0
     while (x < n):
          print("*" * (n-x))
          x = x + 1
     return
upside_down_asterisk_triangle(5)

*****
****
***
**
*

In [20]:
def upside_down_asterix_triangle(i, t=0):
    if i == 0:
        return 
    else:
        print ' ' * ( t + 1 ) + '*' * ( i * 2 - 1 )
        return upside_down_asterix_triangle( i - 1, t + 1 )

upside_down_asterix_triangle(5)

 *********
  *******
   *****
    ***
     *

In [21]:
def asterix_triangle(i, t=0):
    if i == 0:
        return 
    else:
        print ' ' * ( i + 1 ) + '*' * ( t * 2 + 1 )
        return asterix_triangle( i - 1, t + 1 )

asterix_triangle(5)

      *
     ***
    *****
   *******
  *********

In [22]:
import scipy

In [23]:
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print "Updated List : ", aList

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [24]:
aList = [123, 'xyz', 'zara', 'abc', 123];

print "Count for 123 : ", aList.count(123)
print "Count for zara : ", aList.count('zara')

Count for 123 :  2
Count for zara :  1

In [25]:

list1, list2 = [123, 'xyz'], [456, 'abc']

print cmp(list1, list2)
print cmp(list2, list1)
list3 = list2 + [786];
print cmp(list2, list3)

-1
1
-1

In [26]:
x=raw_input('What is your name? ')

What is your name? Vishal Gaurav

In [27]:
x = input('What are the first 10 perfect squares? ')
print x

What are the first 10 perfect squares? map(lambda x: x*x, range(10))
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
map(lambda x: x*x, range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
x = None
while not x:
    try:
        x = int(raw_input())
    except ValueError:
        print 'Invalid Number'

1

In [30]:
x

1

In [31]:
y="Hello world, this is python!"

In [32]:
" ".join(y.split()[::-1])

'python! is this world, Hello'

In [33]:
'''

print("We are in a comment")

print ("We are still in a comment")

'''

print("We are out of the comment")

We are out of the comment

In [34]:
y[::]

'Hello world, this is python!'

In [35]:
y.lower()

'hello world, this is python!'

In [36]:
y.upper()

'HELLO WORLD, THIS IS PYTHON!'

In [37]:
y=y.lower()

In [38]:
y.expandtabs()

'hello world, this is python!'